@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
 
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Chivo', sans-serif;
  background: #A9DBC3;
}

.header-text {
  display: flex;
  height: 100vh;
  justify-content: center;
  font-size:40px;
  color: whitesmoke;
  padding-top: 20px;
}

.body-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-1 {
  display: flex;
  justify-content: center;
  width: 400px;
}

.body-text {
  display: flex;
  color: green;
}

.link-button {
  border: none;
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

.link-button:hover{
  background-color: black;
  color:#25aae1;
  cursor: pointer;
}